<div class="app-content">
  <div class="group">
    <div class="boximg">
      <img class="picture" src='{{contactService.contact && contactService.contact.foto || "assets/contact.png"}}' />
    </div>
    <md-form-field class="example-full-width">
      <input readonly mdInput [(ngModel)]="contactService.contact && contactService.contact.nome" placeholder="Nome">

    </md-form-field>
    <md-form-field class="example-full-width">
      <input readonly mdInput [(ngModel)]="contactService.contact && contactService.contact.email" placeholder="Email">

    </md-form-field>
    <md-form-field class="example-full-width">
      <input readonly mdInput [(ngModel)]="contactService.contact && contactService.contact.telefone" placeholder="Telefone">

    </md-form-field>
    <md-form-field class="example-full-width">
      <input readonly mdInput [(ngModel)]="contactService.contact && contactService.contact.endereco" placeholder="Endereço">

    </md-form-field>
    <md-form-field class="example-full-width">
      <input readonly mdInput  value="{{contactService.contact && contactService.contact.nascimento | date:'d/m/y'}}"
        placeholder="Data de nascimento">
    </md-form-field>
  </div>
</div>
