<h1 md-dialog-title>Contato</h1>
<div md-dialog-content>
  <form class="example-form">

    <div class="boximg" (click)='inputFile.nativeElement.click()'>
      <input #imageInput type="file" (change)="changeImage($event)" hidden/>
      <img class="picture" src='{{data.picture || "assets/contact.png"}}' />
      <span class="changeImg">Alterar</span>
    </div>

    <md-form-field class="example-full-width">
      <input mdInput placeholder="nome" [formControl]="nomeFC">
      <md-error *ngIf="nomeFC.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Email" [formControl]="emailFC">
      <md-error *ngIf="emailFC.hasError('pattern')">
        Please enter a valid email address
      </md-error>
      <md-error *ngIf="emailFC.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Telefone" [formControl]="telefoneFC">
      <md-error *ngIf="telefoneFC.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Endereço" [formControl]="enderecoFC">
      <md-error *ngIf="enderecoFC.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
    </md-form-field>
  </form>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data.animal" tabindex="2">Ok</button>
  <button md-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>
