<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container mdColumnDef="Foto">
      <md-header-cell *mdHeaderCellDef> Foto </md-header-cell>
      <md-cell *mdCellDef="let element"> <img height="50" style="border-radius: 50%;object-fit: cover;" src='{{element.foto}}' /> </md-cell>
    </ng-container>

    <ng-container mdColumnDef="Nome">
      <md-header-cell *mdHeaderCellDef md-sort-header> Nome </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.nome}} </md-cell>
    </ng-container>
    <ng-container  mdColumnDef="Email">
      <md-header-cell class="res650" *mdHeaderCellDef md-sort-header> Email </md-header-cell>
      <md-cell class="res650" *mdCellDef="let element"> {{element.email}}&emsp; </md-cell>
    </ng-container>

    <ng-container mdColumnDef="Endereco">
      <md-header-cell class="res768"  *mdHeaderCellDef md-sort-header> Endereço </md-header-cell>
      <md-cell class="res768"  *mdCellDef="let element"> {{element.endereco}}&emsp; </md-cell>
    </ng-container>

    <ng-container mdColumnDef="Telefone">
      <md-header-cell class="res400" *mdHeaderCellDef md-sort-header> Telefone </md-header-cell>
      <md-cell class="res400" *mdCellDef="let element"> {{element.telefone}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="Nascimento">
      <md-header-cell class="res768" *mdHeaderCellDef md-sort-header> Nascimento </md-header-cell>
      <md-cell class="res768" *mdCellDef="let element"> {{element.nascimento | date:'dd/MM/yyyy'}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="Cadastrado">
      <md-header-cell class="res768" *mdHeaderCellDef md-sort-header> Cadastrado em </md-header-cell>
      <md-cell class="res768" *mdCellDef="let element"> {{element.cadastrado | date:'dd/MM/yyyy'}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="Acoes">
      <md-header-cell class="res400" *mdHeaderCellDef> Ações </md-header-cell>
      <md-cell class="res400" *mdCellDef="let element"> <i class="material-icons" (click)='contactService.selectContact(element);openDialog()'>mode_edit</i> &nbsp;<i class="material-icons" (click)='remove(element)'>delete_sweep</i></md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <md-paginator #paginator [length]="contacts.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
