.mat-column-Foto{
  max-width: 75px;
}

.mat-column-Nome,.mat-column-Nascimento,.mat-column-Cadastrado,.mat-column-Telefone,.mat-column-Acoes  {
  max-width: 150px;
}

md-row{
  cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

.res768 {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.res650{
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.res400{
  @media screen and (max-width: 400px) {
    display: none;
  }
}

.material-icons{
  cursor: pointer;
}